@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "arialBlack";
  src: url("/fonts/arialBlack.ttf") format("truetype");
}

@font-face {
  font-family: "montserratBold";
  src: url("/fonts/montserratBold.ttf") format("truetype");
}

@font-face {
  font-family: "montserratSemiBold";
  src: url("/fonts/montserratSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "monumentExtendedUltrabold";
  src: url("/fonts/monumentExtendedUltrabold.otf") format("opentype");
}

@font-face {
  font-family: "monumentExtendedRegular";
  src: url("/fonts/MonumentExtendedRegular.ttf") format("truetype");
}

@font-face {
  font-family: "poppinsBlack";
  src: url("/fonts/poppinsBlack.ttf") format("truetype");
}

@font-face {
  font-family: "arialBold";
  src: url("/fonts/arialBold.ttf") format("truetype");
}

.arialBold {
  font-family: "arialBold";
}

.poppinsBlack {
  font-family: "poppinsBlack";
}

.montserratBold {
  font-family: "montserratBold";
}

.montserratSemiBold {
  font-family: "montserratSemiBold";
}

.monumentExtendedUltrabold {
  font-family: "monumentExtendedUltrabold";
}

.monumentExtendedRegular {
  font-family: "monumentExtendedRegular";
}

.arialBlack {
  font-family: "arialBlack";
}